/*Global selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Styling for all buttons on page*/
button{
    cursor: pointer;
}
/*Styling below applies to the icons obtained from iconify*/
.iconify span:hover{
    color: #6f6f6f;
}

/*Styling below applies to the body*/
body{
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
}
/*Styling below applies to section one: includes header plus banner area)*/
#sectionOne{
    background-image: url(assets/hero-cover3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 15%;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0 4% 0;
    font-size: 1vw;
}
header #brand h1{
    font-weight: 900;
    font-size: 1.7vw;
}
header #navigation{
    width: 50%;
    margin-left: 10%;
}
header #navigation ul{
    list-style-type: none;
}
header #navigation li{
    display: inline-block;
    font-weight: 600;
    margin: 0 2%;
    font-size: 1vw;
}
header #navigation a{
    text-decoration: none;
    color: #fff;
}
header #userAccounts{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
header #userAccounts button.login{
    font-weight: 600;
    color: #fff;
    border: none;
    background: none;
    font-size: 1vw;
    margin: 0 2vw;
    margin-right: 3%;
}
header #userAccounts button.member {
    background-color: #23A6F0;
    font-size: 1vw;
    color: #fff;
    font-weight: 600;
    border: solid 0.1vw #23a6f0;
    border-radius: 0.4vw;
    padding: 3% 7% 2% 5%;
}

#banner{
    text-align: center;
    padding-bottom: 14%;
}
#banner p#largeParagraphBanner {
    font-size: 4vw;
    font-weight: 800;
}
#banner p#smallParagraphBanner{
    font-size: 1.4vw;
    font-weight: 500;
    padding: 5% 10%;
}
#banner .text{
    padding: 10% 10% 4%;
}
#banner .buttons{
    display: flex;
    justify-content: center;
}
#banner .buttons #btnOne{
    background-color: #23A6F0;
    border: solid 0.1vw #23a6f0;
    border-radius: 2vw;
    padding: 2% 4%;
    font-size: 1vw;
    color: #fff;
    font-weight: 600;
    margin-right: 1.5%;
}
#banner .buttons #btnTwo{
    background: none;
    border: solid 0.1vw #fff;
    border-radius: 2vw;
    padding: 2% 4%;
    font-size: 1vw;
    font-weight: 600;
    color: #fff;
    margin-left: 1.5%;
}

/*Styling below applies to Section Two: includes three floating cards under the banner area*/
#sectionTwo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 15% 6% 15%;
}
#sectionTwo .cards{
    margin-top: -14%;
    background-color: #fff;
    width: 30%;
    padding: 3%;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}
#sectionTwo div:hover{
    background-color: #23A6F0;
    color: #fff;
}
#sectionTwo .cards .cardTitle{
    font-size: 1.2vw;
    padding: 5% 0;
    color: #252b42;
    font-weight: 700;
}
#sectionTwo .cards .cardTitle:hover{
    color: #fff;
}
#sectionTwo .cards .cardText{
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;   
}
#sectionTwo .cards .cardText:hover{
    color: #fff;
}
/*Styling below applies to Section three: includes company values*/
#sectionThree{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 8% 15% 8% 15%;
}
#sectionThree .companyValuesCard{
    text-align: center;
}
#sectionThree .cardTitle{
    font-size: 1.2vw;
    padding: 5% 0;
    color: #252b42;
    font-weight: 700;
}
#sectionThree .cardText{
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;   
}

/*Styling below applies to Section four: includes*/
#sectionFour{
    padding: 5% 15% 5% 15%;
    text-align: center;
    background-color: #fafafa;
}
#sectionFour #section4Title{
    font-size: 3vw;
    color: #252b42;
    font-weight: 700;
}
#sectionFour #paragraph1{
    padding: 1% 25%;
    color: #6f6f6f;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    line-height: 1.5vw;
}
#sectionFour #pastRevievs{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20%;    
    padding-top: 5%;
}
#sectionFour #pastRevievs .reviewCard{
    border: solid 0.1vw rgba(0, 0, 0, 0.2);
    border-radius: 0.5vw;
    background-color: #fff;
    width: 30%;
    padding: 4% 3% 4% 3%;
}
#sectionFour #pastRevievs .reviewCard img{
    width:9vw ;
}
#sectionFour #pastRevievs .reviewCard p{
    color: #6f6f6f;
    font-size: 1vw;
    font-weight: 500;
    padding-top: 10%;
}
#sectionFour #pastRevievs .reviewCard div{
    margin-top: 10%;
}
#sectionFour .patnerCompanies{
    display: flex;
    justify-content: space-around;
    padding-bottom: 8%;
}
#sectionFour .patnerCompanies img{
    width: 5vw;
    height: 3vw;
}
#sectionFour .patnerCompanies img:nth-child(6){
    height: 4vw;
    margin-top: -1%;
}

/*Styling below applies to the footer*/
footer{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1% ;
}
footer #footerParagraph{
    font-size: 0.9vw;
    font-weight: 500;
    color: #6f6f6f;
    margin-left: 20%;
}
footer #iconsDisplay{
    margin-right: 14%;
}
